@{
    ViewBag.Title = "NainaarKovil";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet">
    @*<link href="~/Content/styles.css" rel="stylesheet" />*@
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="~/Content/heading.css">
    <link rel="stylesheet" href="~/Content/body.css">
</head>
<body id="page-top">
    <header class="masthead bg-primary">
        <div class="container d-flex align-items-center flex-column">
            <div class="col-md-12">
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;"><strong>  Location:-</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;"> Nainarkovil Shri Naganatha Swamy temple in Maruthur, which shines as a symbol of rich Indian cultural heritage to be renowned for its own spiritual attines and deep-rooted Hindu religious centre located in the southern part of India the land of temples Tamil Nadu. The shrine is located in Ramanathapuram district which is majorly a coastal district famous for Rameswaram a major temple destiny for Hindu religious beliefs in India. This district shares an International border across sea with Srilanka which is believed where climax of great epic Ramayana happened. The temple exactly located 30Km form this district capital Ramanathapuram a 43min ride.</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <p style="font-size:30px !important;font-family:'Times New Roman' !important;text-decoration:underline;"><strong>  Travel Information</strong></p>
                    </div>
                </div>
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;"><strong>  Skyways :-</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;"> The shrine locates very near to the Madurai international airport . The airport connects with all major domestic destinations like Chennai, Mumbai, Delhi and Kochi etc. Further it connects with international destination like Dubai, Colombo, Singapore, Malaysia etc. directly and the other destinations by connections.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size:20px !important;font-family:'Times New Roman' !important;color:blue !important; "> Distance from Madurai airport - 98 Kms </p>
                </div>
                <div class="col-md-6">
                    <p style="font-size:20px !important;font-family:'Times New Roman' !important; color:blue !important;"> Time taken to travel from madurai airport - 2 Hrs </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size:20px !important;font-family:'Times New Roman' !important; color:blue !important;"> Distance from Chennai airport- 486 Kms </p>
                </div>
                <div class="col-md-6">
                    <p style="font-size:20px !important;font-family:'Times New Roman' !important; color:blue !important;">Time taken to travel from madurai airport- 8 Hrs </p>
                </div>
            </div>
            <div class="col-md-12">
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;"><strong>  Rail Road:-</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;"> The shrine locates in shear proximity a 30 Km ride to the district headquartes ramanthapuram Which has rail connetion to all parts of india mostly the major destinations like Chennai, Trivandrum, Okha, Bubhaneswar directly and the other destinations by connections with madurai Junction.</p>
            </div>

            <br />
            <div class="col-md-12">
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;"><strong>  By Road:-</strong></p>
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;text-decoration:underline; "><strong>  Public Transport:</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;"> TamilNadu State transport corporation (TNSTC) operates full time public transport by road from all parts of the state through distrcit head quartes Ramanathapuram bus station.</p>
            </div>

            <div class="col-md-12">
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;text-decoration:underline;"><strong>  Private Transport:</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;"> NH 87 connects the shrine to all parts of the state tamilnadu.</p>
            </div>
        </div>
    </header>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div>
                    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=13.021816185983994~80.28412702636716&lvl=11&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
                    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
                        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=13.021816185983994~80.28412702636716&amp;sty=r&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=13.021816185983994~80.28412702636716&amp;sty=r&amp;lvl=11&amp;rtp=~pos.13.021816185983994_80.28412702636716____&amp;FORM=MBEDLD">Get Directions</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">LOCATION</h4>
                    <p class="pre-wrap lead mb-0">
                        SH 34, Nainarkovil, Ramanathapuram Dt,
                        Tamil Nadu  -623705, Ph : - 04564 266 522
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">WHAT NEEDS TO BE REPLACED</h4>
                    <p class="pre-wrap lead mb-0">
                        SH 34, Nainarkovil, Ramanathapuram Dt,
                        Tamil Nadu  -623705, Ph : - 04564 266 522
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    @*<section class="copyright py-4 text-center text-white">
            <div class="container"><small class="pre-wrap">Copyright     Ariya Safe Angle Private Limited  2020             </small></div>
        </section>*@
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>