
@{
    ViewBag.Title = "History";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet">
    @*<link href="~/Content/styles.css" rel="stylesheet" />*@
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="~/Content/heading.css">
    <link rel="stylesheet" href="~/Content/body.css">
</head>
<body id="page-top">
    <header class="masthead bg-primary" style="height:750px;">
        <div class="container d-flex align-items-center flex-column">
            <div class="col-md-12">
                <p style="font-size:30px !important;font-family:'Times New Roman' !important;"><strong>  History & Nomenclature:-</strong></p>
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;">
                    The history of Nainarkoil@Thirumaruthur was portrayed as one of his 108 plays by the great "Lord Shiva" to the lordess and it is conveyed to Goddess saraswathi and to the great renowned saints of ancient tamil culture like Prahaspathi, Athiri, Dhurvasar, gowthamar, paraasar, vedvyasa and finally it was communicated to the devotees by soodha saint in aakneya purana.
                </p>
                <br />
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;">
                    Intially the localty is named Marudhavanam ( beautiful forest made of "Marudha" trees) named by devas because its beautiful flowers are used for worshipping the Lord shiva who resided in the middle of the forest as shivalinga which formed there on its own. The Lord Brahma who created the world assigned the job of carrying the whole world to "Aadisheshan"   a thousand headed snake lord who is well know for its supremacy but still proud of himself and greedy to equal himself to the Lord. The Lord shiva decided to take of his headweight so he made a sudden appearance on bull with goddess. "Aadisheshan" shellshocked with the apperance and understands the reality. He then requets lord shiva to wipe of his sins and greedy actions that he did irrespective of the assigned repsonsibility of saving the world. The Lord instruct him to stay in marudhavanam and do shiva charity and thapas to wait for his appaearance. Aadisheha went therea and built an enormous temple around the shivaling with impeccable stones like diamond, pearl and started resding there reciting lords name each and every minute. Finally the Lord appears infront of him and gives him the "Lecture of GOODNESS" with snake head for his redemption.Hence then the lord is called as "NAGANATHAR".
                </p>
                <br />
                <p style="font-size:20px !important;font-family:'Times New Roman' !important;">
                    Later Marudhavanam is called VILVA VANAM (Forest of Baels) because whoever wants the redemption from surreal to world to gods feet can do the penance here and get converted into a bael tree for redemption. Still i can see the bael furits were worn by most of the shiva devotees in india which gives a better clarity on shiva worship.
                </p>
            </div>
        </div>
    </header>

    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">LOCATION</h4>
                    <p class="pre-wrap lead mb-0">
                        SH 34, Nainarkovil, Ramanathapuram Dt,
                        Tamil Nadu  -623705, Ph : - 04564 266 522
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">WHAT NEEDS TO BE REPLACED</h4>
                    <p class="pre-wrap lead mb-0">
                        SH 34, Nainarkovil, Ramanathapuram Dt,
                        Tamil Nadu  -623705, Ph : - 04564 266 522
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section-->
    @*<section class="copyright py-4 text-center text-white">
            <div class="container"><small class="pre-wrap">Copyright     Ariya Safe Angle Private Limited  2020             </small></div>
        </section>*@
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>

